.user {
  flex: 4;
  padding: 20px;
}
.userTitleContainer {
  display: flex;
  justify-content: space-between;
}

.userAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
  font-size: 16px;
  margin-top: 35px;
}

.userContainer {
  display: flex;
  margin-top: 20px;
}
.userShow {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 3px 4px 6px -3px #000000;
  box-shadow: 3px 4px 6px -3px #000000;
}
.userUpdate {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 3px 4px 6px -3px #000000;
  box-shadow: 3px 4px 6px -3px #000000;
}

.userShowTop {
  display: flex;
  align-items: center;
}
.userShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.userShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.userShowUsername {
  font-weight: 600;
}
.userShowUserTitle {
  font-weight: 300;
}
.userShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(121, 120, 120);
}
.userShowBottom {
  margin-top: 20px;
}
.userShowInfo {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: #444;
}
.userShowIcon {
  font-size: 16px !important;
}
.userShowInfoTitle {
  margin-left: 10px;
}
