.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
  background-color: #edd9ed;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: #a1a1a1;
}
.sidebarList {
  list-style: none;
  padding: 5px;
}
.sidebarListItem {
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.sidebarListItem.active,
.sidebarListItem:hover {
  background-color: #eda1ed;
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}
